.sidebar{
    width:17%;
    min-height:83vh;
    border:2px solid grey;
    border-top: 0;
}
.sidebar-options{
    display:flex;
    flex-direction: column;
}

.sidebar-option{
    display: flex;
    align-items: center;
    margin:1rem;
    padding:0.8rem;
    margin-right:0;
    border:1.5px solid grey;
    border-right:0;
    cursor: pointer;
    border-radius:4px;
}


.opt-img{
    margin-right:0.5rem;
}
.sidebar-option.active{
   
    border:2px solid red;
    border-right:0;
}
@media(max-width:900px){
    .sidebar-option p{
        display: none;
    }
}
