.footer a{
    text-decoration: none;
    color:white;
    display: block;
    padding-left: 0.5rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
}
.footer h2{
    margin-top:1rem;
    margin-bottom:0.5rem;
}
.footer{
    background-color: #323230;
    padding:1rem;
    margin-top:2rem;
    margin:auto;
    color:white;
    margin-top:15rem;
}
.footer-social img{
    margin:0.7rem;
    padding-left:0.8rem;
}
.small-logo{ 
    padding-left:3rem;
    color:red;
   /* font-weight: bold;  */
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size:2.5rem;
   animation: myName 2s ease-in 1s 1 normal;
   animation: my 2s ease-in 1s 1 normal;
   margin-bottom:0.7rem;
}
.footer-content{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;

}
.footer-copyright{
    margin-top:1rem;
    text-align: center;
    margin-bottom:0.5rem;
}
@media(max-width:700px){
    .footer-content h2{
        font-size:1rem;
    }
    .footer-content a{
        font-size: 0.8rem;
    } 
    .footer-content a{
        font-size: 0.8rem;
        grid-template-columns:0.8fr 1fr 1fr 1fr;
    }
    .small-logo{
        font-size:2rem;
        margin-left:0;
    }
}
@media(max-width:520px){
    .footer-content h2{
        font-size:0.8rem;
        font-weight:400;
        text-decoration: underline;
    }
    .small-logo{
        padding-left:0.8rem;
        font-size:1.5rem;
        margin-left:0;
    }
    .footer-social img{
        margin:0.4rem;
        padding-left:0.3rem;
    }
}
@media(max-width:400px){
    .small-logo{
        padding-left:0rem;

        font-size:1.2rem;
        margin-left:0;
    }
    .footer-social img{

        padding-left:0rem;
    }
}