@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*{
    font-family: Work Sans;
}

.header{
    color:white;
    border-radius: 10px;
        height:62vh;
    width:85vw;
    margin:auto;
   
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2lzMTYwNjItaW1hZ2Uta3d2eWZrd3IuanBn.jpg');
   
}
.head1{ animation: fadeIn 1s ease-in  ;
font-size:4.8rem;
padding:0.8rem;
}

.para{ animation: fadeIn 1s ease-in  ;
    padding:0.8rem;
    font-size:1.7rem;
}
.btn{
    height:4rem;
    width:9rem;
    border: 2px solid white;
    border-radius: 8px;
    background-color: red;
    font-size: 1.4rem;
    margin-top:1.5rem;
    opacity:0.8;
    font-weight: 700;

}
.btnin{
    display: flex;
    justify-content: center;
   
}

.btn:hover{
    cursor: pointer;
    opacity:1;
}
/* @media(max-width:900px){
   
} */
@media((max-width:930px)){
    .head1{
        font-size:3rem;
    }
 }
@media(max-width:900px){
    .header .btn{
        width:4.5rem;
        height:3.5rem;
        font-size: 1rem;
        padding:-0.2rem;
        margin-top:0.25rem;
    }
   
}
@media(max-width:750px){
    .header{
        border-radius:10px;
        height:55vh;
        width:85vw;
        margin:auto;
    }
    .head1{ 
        font-size:40px;
        padding:0.8rem;
        }
        .header p{
            font-size: 1.5rem;
        }
     
       
}
@media((min-width:1100px)and (max-width:2000px)){
    .header .btn{     
        margin-top:3rem;
    }
}




